<h3><%= @topic.title %></h3>
<div>
  <% @comments.each do |comment| %>
    <div class="mb-1">
      <%= comment.reid %> : <%= comment.name %> :<%= comment.updated_at %><br>
      <%# コメント内にレスアンカーがあれば返信先のコメントのリンクに変換する %>
      <%# gsubでやったほうが効率的だと思うが、link_toを変換する方法が分からない %>
      <% regex = />>\d+/ %>
      <% if comment.content.match(regex) %>
        <%# コメントからアンカーを切り取って変数に入れ、リンクの文章にする %>
        <% anchor = comment.content.slice!(regex) %>
        <% link = Comment.find_by(topic_id: @topic,reid: anchor.slice(/\d+/).to_i) %>
        <%= link_to anchor, [comment.topic, link], method: :get %>
        <%= comment.content %>
      <% else %>
        <%= comment.content %>
      <% end %>
      <br>
      <% #TODO なぜ削除用のlink_toに配列で渡すのか分からないので理解する %>
      <% #多分、Commentに対応するTopicとCommentそのものを両方渡す必要があるからかも %>
      <% #comment.topicとcommentを入れ替えるとsyntaxエラーが出るのは親であるTopicを先に渡していないから? %>
      <% #検証でソースコードを確認すると「href="/topics/31/comments/22"」と出る。何となくは理解できた気がするがはっきりしない %>
      <% #下のupdate(削除)のメソッドはpatchでもputでも動いた %>
      <%= link_to '削除', [comment.topic, comment], method: :patch, data: { confirm: 'コメントを削除してよろしいですか'}, class: "text-danger" %>
      <%# link_to '消去', [comment.topic, comment], method: :delete, data: { confirm: 'コメントを消去してよろしいですか'}, class: "text-danger" %>
    </div>
  <% end %>
</div>
<div>
  <%= will_paginate(@comments, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'mt-4') %>
</div>

<div class="border-top border-dark pt-4 pb-4">
  <h2>コメントする</h2>
</div>
<div class="form-group">
  <%= render 'form' %>
</div>
