<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark p-2">
      <h1 class="ml-3"><%= link_to '掲示板', root_path, class: "text-white" %></h1>
      <% if current_user %>
        <%= link_to "自分のユーザー情報", admin_user_path(current_user), class: "nav-link" %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
        <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
      <% else %>
        <%= link_to "新規登録", new_admin_user_path, class: "nav-link" %>
        <%= link_to "ログイン", login_path, class: "nav-link" %>
      <% end %>
    </nav>
    <div class="container-fluid p-4 pt-2 text-dark bg-white">
      <h3 class="text-primary text-center">Let's comment!</h3>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <div class="p-4 h5">
        <%= yield %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
